<%partial('../partials/helpers.ejs')%>

<!-- Modal Detail -->
<div id="modal-detail-agent-confirm" class="w3-modal w3-display-container" style="padding:16px 0">
  <div class="w3-modal-content w3-card-4 w3-animate-opacity w3-display-middle" style="max-width:600px">
    <header class="w3-container w3-blue-grey">
      <h3><i class="fa fa-money"></i> Detail Calon Agen</h3>
      <span class="w3-button w3-hover-red w3-display-topright" style="cursor:pointer" onclick="closeModal('modal-detail-agent-confirm')"><i class="fa fa-close"></i></span>
    </header>
    <div class="w3-padding-16">
  <!--     <div class="w3-display-container" style="max-width:700px;margin:auto">
        <img class="w3-greyscale-min" style="width:100%;height:300px;object-fit:cover" src="<%=%>">
        <p class="w3-display-topmiddle w3-text-white"><b><%=%></b></p>  
        <p class="w3-display-bottommiddle w3-text-white"><b>Rp. <%=%></b></p>  
        
      </div>
      <div class="w3-container w3-padding-16 w3-center w3-text-grey" style="width:100%">
      <img class="w3-circle w3-card" style="width:15%" src="/uploads/<%=%>">
      <p>Agent: <%=%></p>
      <hr class="w3-hr">
      <label class="w3-left">Pesan Tambahan:</label>
      <textarea id="payments-message" placeholder="Ex: Saya Agent dengan DP 50%" rows="3" class="w3-input w3-border w3-text-grey w3-hover-light-grey" type="text" style="resize:vertical">Ex: Saya Agent dengan DP 50%</textarea>
      <hr>
      
      <div class="w3-bar">
        <button id="btn-send-payments" class="w3-button w3-blue w3-hover-green"><i class="fa fa-ban"></i> Tolak</button>
        <button id="btn-send-payments" class="w3-button w3-blue w3-hover-green"><i class="fa fa-check"></i> Terima</button>
      </div>
    
    </div> -->

    <table class="w3-table w3-text-grey">
      <tr>
        <td style="width:200px">ID Agent</td>
        <td>: <span id="id"></span></td>
      </tr>
      <tr>
        <td>Nama</td>
        <td>: <span id="name"></span></td>
      </tr>
      <tr>
        <td>No Tlp</td>
        <td>: <span id="phone"></span></td>
      </tr>
      <tr>
        <td>Email</td>
        <td>: <span id="email"></span></td>
      </tr>
      <tr>
        <td>No Kartu Identitas</td>
        <td>: <span id="id-number"></span></td>
      </tr>
      <tr>
        <td>Status</td>
        <td>: <span id="status" style="font-weight:bold"></span></td>
      </tr>
    </table>

    </div>
  </div>
</div>

<script>
var idAgentDetail = document.getElementById('id');
var nameDetail = document.getElementById('name');
var phoneDetail = document.getElementById('phone');
var emailDetail = document.getElementById('email');
var idNumberDetail = document.getElementById('id-number');
var statusDetail = document.getElementById('status');
var dataAgentDetail = {};

//ADD EVENT LISTENER
var btnConfirm = document.getElementsByClassName('detail-button');
for(var i=0,len=btnConfirm.length;i<len;i++){
  btnConfirm[i].addEventListener('click',setDataAgent);
}

function setDataAgent(){
  // dataPayment.listing = this.dataset.listing;
  // dataPayment.customer = this.dataset.customer;
  // dataPayment.agent = this.dataset.agent;
}

  function openModal(el) {
    document.getElementById(el).style.display = "block";
    document.body.style.overflow = "hidden";
  }
  function closeModal(el) {
    document.getElementById(el).style.display = "none";
    document.body.style.overflow = "visible";
  }
  function modalDetailAgent(id){
    var data = {};
    detailAgent(id);
  }
  
  function detailAgent(id){
    fetch(`/api/agent/${id}`)
    .then((res)=>{
      return res.json()
    }).then(displayDetailAgent)
    .catch((ex)=>{
      console.log('parsing failed', ex)
    })
  }

  var displayDetailAgent = (json)=>{
    // console.log('parsed json', json);
    // alert(JSON.stringify(json));
    const data = json.dataAgentDetail;
    idAgentDetail.innerHTML = data.id||'-';
    nameDetail.innerHTML = data.name||'-';
    idNumberDetail.innerHTML = data.idNumber||'-';
    emailDetail.innerHTML = data.email||'-';
    phoneDetail.innerHTML = data.phone||'-';
    statusDetail.innerHTML = data.status.capitalize()||'-';
    openModal('modal-detail-agent-confirm');
  }

  String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
  }
  Number.prototype.formatMoney = function(c, d, t){
    var n = this, 
    c = isNaN(c = Math.abs(c)) ? 2 : c, 
    d = d == undefined ? "." : d, 
    t = t == undefined ? "," : t, 
    s = n < 0 ? "-" : "", 
    i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
    j = (j = i.length) > 3 ? j % 3 : 0;
    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
  };
</script>