<!-- MODAL PAY DP -->
<div id="modal-pay-dp" class="w3-modal" style="padding:8px 0px">
  <div class="w3-modal-content" style="max-width: 700px;margin:auto">
    <form id="form-pay-dp" action="" method="" enctype="multipart/form-data">
  <!-- <div id="user-form" class="w3-padding w3-container w3-padding"> -->
    <div class="w3-card">
      <p class="w3-teal w3-container w3-padding-16" style="border-width:2px!important;margin:0"><b><i class="fa fa-money"></i> Form Pembayaran DP</b><span onclick="closeModal('modal-pay-dp')" 
      class="w3-button w3-display-topright">&times;</span></p>
            
      <div class="w3-container">
          <p>
            <label class="w3-text-grey">No Pembayaran</label>
            <input class="w3-input w3-border" id="no-payment-dp" type="text" name="noPayment" value="" disabled>
          </p>
          <p>
            <label class="w3-text-grey">Nama Pemilik Rekening</label>
            <input class="w3-input w3-border" type="text" name="accountOwner" value="<%=(req.session.user)?req.session.user.name:``%>">
          </p>
          <p>
            <label class="w3-text-grey">Email</label>
            <input class="w3-input w3-border" type="email" name="email" value="<%=(req.session.user)?req.session.user.email:``%>">
          </p>
          <p>
            <label class="w3-text-grey">Phone</label>
            <input class="w3-input w3-border" type="tel" name="phone" value="<%=(req.session.user)?req.session.user.phone:``%>">
          </p>

          <p>
            <div class="w3-col m4">
              <label class="w3-text-grey">% dari harga properti</label>
              <input class="w3-input w3-border" type="text" id="percentage-price" list="percentage" onkeyup="toPercentagePrice()" onchange="toPercentagePrice()" value="30">
              <datalist id="percentage">
                <option>10</option>
                <option>30</option>
                <option>50</option>
                <option>60</option>
              </datalist>  
            </div>
            <div class="w3-col m8">
              <label class="w3-text-grey">Nominal Bayar DP (Rp.)</label>
              <input class="w3-input w3-border" id="price-dp" type="number" name="dp" value="" autocomplete="off">
              <input id="listing-price" type="hidden" name="listingPrice">      
            </div>
        
          </p>
          
          <p>
            <label class="w3-text-grey">Tgl Bayar</label>
            <input class="w3-input w3-border" type="date" name="dpPaidOn" value="<%=%>" autocomplete="off">   
          </p>

          <p>
            <label class="w3-text-grey">Dari Bank</label>
            <select class="w3-select w3-border" name="fromBank">
              <option value="">-Pilih Bank-</option>
              <option value="bca">BCA</option>
              <option value="mandiri">Mandiri</option>
              <option value="bni">BNI</option>
            </select>   
          </p>

          <p>
            <label class="w3-text-grey">Ke Bank</label>
            <select class="w3-select w3-border" name="toBank">
              <option value="">-Pilih Bank-</option>
              <option value="bca">BCA</option>
              <option value="mandiri">Mandiri</option>
              <option value="bni">BNI</option>
            </select>   
          </p>

        <p>
        <span class="w3-padding w3-teal">Bukti Pembayaran &nbsp;&nbsp;<i class="fa fa-file-image-o"></i></span>
        <input type="file" name="dpProof" <%=%>>
        </p>

      
      <div class="w3-bar w3-section w3-padding-16">
        <button onclick="payDp(dataPayment.id)" type="button" class="w3-button w3-bar-item w3-teal w3-right w3-hover-green" style="width:70%"><i class='fa fa-money'></i> Bayar</button>
        <button class="w3-button w3-bar-item w3-light-grey w3-text-grey w3-right w3-hover-grey" style="width:30%" type="reset">Reset</button>
      </div>
    
    </div>

    </div>
  
  <!-- </div> -->
</form>
  </div>
</div>

<script>
var formPayDp = document.getElementById('form-pay-dp');
var listingPrice;
var percentPrice = document.getElementById('percentage-price').value;
function toPercentagePrice(){
  let percentagePrice = document.getElementById('percentage-price').value * listingPrice / 100
  document.getElementById('price-dp').value = percentagePrice;
}

var dataPayment = {};
//ADD EVENT LISTENER
var btnPayDp = document.getElementsByClassName('pay-button-dp');
for(var i=0,len=btnPayDp.length;i<len;i++){
  btnPayDp[i].addEventListener('click',setDataPayment);
}

function setDataPayment(){
  dataPayment.id = this.dataset.id;
  // alert(`
  //   listing: ${dataPayment.listing} 
  //   customer: ${dataPayment.customer} 
  //   agent: ${dataPayment.agent}`);
}

function openModal(el) {
  document.getElementById(el).style.display = "block";
  document.body.style.overflow = "hidden";
}

function closeModal(el) {
  document.getElementById(el).style.display = "none";
  document.body.style.overflow = "visible";
}

function modalPayDp(id,price){
  listingPrice = price;
  document.getElementById('listing-price').value = listingPrice;
  document.getElementById('price-dp').value = price * percentPrice / 100;
  document.getElementById('no-payment-dp').value = id;
  openModal('modal-pay-dp');
}

function payDp(id){
  fetch(`/api/payment/pay-dp/${id}`,{
    method:'PUT',
    body:new FormData(formPayDp)
  }).then((res)=>{
    // mda.innerHTML = res.text();
    location.reload();
  })
}

</script>