<!-- MODAL PAY PAID OFF -->
<div id="modal-pay-repayment" class="w3-modal" style="padding:8px 0px">
  <div class="w3-modal-content w3-animate-opacity" style="max-width: 700px;margin:auto">
    <form id="form-pay-repayment" action="" method="" enctype="multipart/form-data">
  <!-- <div id="user-form" class="w3-padding w3-container w3-padding"> -->
    <div class="w3-card">
      <p class="w3-teal w3-container w3-padding-16" style="border-width:2px!important;margin:0"><b><i class="fa fa-money"></i> Form Pembayaran Pelunasan</b><span onclick="closeModal('modal-pay-repayment')" 
      class="w3-button w3-display-topright">&times;</span></p>
            
      <div class="w3-container">
          <p>
            <label class="w3-text-grey">No Pembayaran</label>
            <input class="w3-input w3-border" id="no-payment-repayment" type="text" name="noPayment" value="" disabled>
          </p>
          <p>
            <label class="w3-text-grey">Nama Pemilik Rekening</label>
            <input class="w3-input w3-border" type="text" name="accountOwner" value="<%=(req.session.user)?req.session.user.name:``%>">
          </p>
          <p>
            <label class="w3-text-grey">Email</label>
            <input class="w3-input w3-border" type="email" name="email" value="<%=(req.session.user)?req.session.user.email:``%>">
          </p>
          <p>
            <label class="w3-text-grey">Phone</label>
            <input class="w3-input w3-border" type="tel" name="phone" value="<%=(req.session.user)?req.session.user.phone:``%>">
          </p>

          <p>
            <label class="w3-text-grey">Nominal Bayar Sisa Pelunasan (Rp.)</label>
            <input class="w3-input w3-border" id="price-repayment" type="number" name="amount" value="" disabled>
          </p>
          
          <p>
            <label class="w3-text-grey">Tgl Bayar</label>
            <input class="w3-input w3-border" type="date" name="repaymentPaidOn" value="<%=%>" autocomplete="off" required>
          </p>

          <p>
            <label class="w3-text-grey">Dari Bank</label>
            <select id="select-from-bank" class="w3-select w3-border" name="fromBank" required>
              <option value="">-Pilih Bank-</option>
              <option value="bca">Bank BCA</option>
              <option value="mandiri">Bank Mandiri</option>
              <option value="syariah mandiri">Bank Syariah Mandiri</option>
              <option value="bni">Bank BNI</option>
              <option value="niaga">Bank Niaga</option>
              <option value="lippo">Lippo Bank</option>
              <option value="bii">Bank BII</option>
              <option value="mega">Bank Mega</option>
              <option value="bri">Bank BRI</option>
              <option value="others">Lain-lain</option>
            </select> 
          </p>

          <p>
            <label class="w3-text-grey">Ke Bank</label>
             <select id="select-to-bank" class="w3-select w3-border" name="toBank" required>
              <option value="">-Pilih Bank-</option>
            </select>  
          </p>

        <p>
        <span class="w3-padding w3-teal">Bukti Pembayaran &nbsp;&nbsp;<i class="fa fa-file-image-o"></i></span>
        <input type="file" name="repaymentProof" <%=%>>
        </p>

      
      <div class="w3-bar w3-section w3-padding-16">
        <button onclick="payRepayment(dataPayment.id)" type="button" class="w3-button w3-bar-item w3-teal w3-right w3-hover-green" style="width:70%"><i class='fa fa-money'></i> Bayar</button>
        <button class="w3-button w3-bar-item w3-light-grey w3-text-grey w3-right w3-hover-grey" style="width:30%" type="reset">Reset</button>
      </div>
    
    </div>

    </div>
  
  <!-- </div> -->
</form>
  </div>
</div>

<script>

// FECTH TO BANKS LIST
var selectToBank = document.getElementById('select-to-bank');
selectToBank.addEventListener('change',fetchListToBanks);

var addSelectToBank = (listToBanks)=>{
  for (let i = 0; i < listToBanks.length; i++) {
    var bank = new Option(`Bank ${listToBanks[i].bankName} No Rek ${listToBanks[i].accountNumber} a/n ${listToBanks[i].accountName}`, listToBanks[i].bankName);
    selectToBank.options.add(bank);
     }
}
var fetchListToBanks = ()=>{
fetch(`/api/fetch-banks-list`)
  .then((res)=>{
    return res.json();
  }).then(addSelectToBank)
  .catch((ex)=>{
    console.log('parsing failed',ex);
  })
}
fetchListToBanks();
// END FETCH TO BANKS LIST

var formPayRepayment = document.getElementById('form-pay-repayment');

var dataPayment = {};
//ADD EVENT LISTENER
var btnPayRepayment = document.getElementsByClassName('pay-button-repayment');
for(var i=0,len=btnPayRepayment.length;i<len;i++){
  btnPayRepayment[i].addEventListener('click',setDataPayment);
}

function setDataPayment(){
  dataPayment.id = this.dataset.id;
  // alert(`paymentID: ${dataPayment.id}`);
}

function openModal(el) {
  document.getElementById(el).style.display = "block";
  document.body.style.overflow = "hidden";
}

function closeModal(el) {
  document.getElementById(el).style.display = "none";
  document.body.style.overflow = "visible";
}

function modalPayRepayment(id,remainingPayment){
  // listingPrice = price;
  document.getElementById('no-payment-repayment').value = id;
  document.getElementById('price-repayment').value = remainingPayment;
  openModal('modal-pay-repayment');
}

function payRepayment(id){
  fetch(`/api/payment/pay-repayment/${id}`,{
    method:'PUT',
    body:new FormData(formPayRepayment)
  }).then((res)=>{
    // mda.innerHTML = res.text();
    location.reload();
  })
}

</script>