<div id="booking" class="w3-container myDivToPrint">
  <p class="w3-padding-left w3-opacity" style="margin-bottom: 0px"><b>Konfirmasi Pemesanan</b></p>
  <!-- <img src="/img/rumah2q-logo.png" style="width:20%"> -->

  <div class="w3-row w3-section w3-border">
    
      <div class="w3-col w3-right" style="width:50px">
        <button class="w3-blue-grey w3-button w3-block w3-paddingX"><i class="fa fa-search"></i></button>
      </div>
        <div class="w3-rest">
        <input class="w3-hover-light-grey w3-input w3-border-0" type="text" name="" placeholder="Cari.." id="search-filter">
      </div>  
    
  </div>

	<table class="w3-table w3-card w3-hoverable" id="table-reports">
		<tr class="w3-blue-grey">
			<th>ID</th>
			<th>Judul Properti</th>
			<th>Pemohon</th>
      <th>Agen</th>
      <th>Pesan</th>
			<th>Status</th>
			<th style="width: 250px"></th>
		</tr>
		<%for(var i=0, len=dataBookings.length; i < len; i++) { -%>
		<tr class="w3-text-grey w3-hover-green">
			<td style="vertical-align: middle"><%=dataBookings[i].id%></td>
			<td style="vertical-align: middle"><%=dataBookings[i].listing.title%></td>
      <td style="vertical-align: middle"><%=dataBookings[i].customer.name%></td>
      <td style="vertical-align: middle"><%=dataBookings[i].agent.name%></td>
      <td style="vertical-align: middle"><%=dataBookings[i].message%></td>
			<td style="vertical-align: middle"><%=dataBookings[i].status.capitalize()%></td>
			<td style="vertical-align: middle">
				<button class="w3-button w3-hover-red" onclick="modalDeleteBooking('<%=dataBookings[i].id%>','<%=dataBookings[i].customer.name%>')"><i class="fa fa-ban"></i> Tolak</button>
				<button class="w3-button w3-hover-text-blue-grey w3-hover-white" onclick="modalApproveBooking('<%=dataBookings[i].id%>','<%=dataBookings[i].customer.name%>')"><i class="fa fa-check"></i> Proses</button>
			</td>
		</tr>
		<% } -%>
	<!-- 	<tr  class="w3-hover-none">
			<td colspan="4">
			<button class="w3-blue-grey w3-hover-green w3-button w3-right no-print" onclick="printDiv('report')"><b><i class="fa fa-print"></i> Print</b></button>
			</td>
		</tr> -->

	</table>
	<div class="w3-cell-row w3-container w3-padding w3-section w3-card">
    <p class="w3-cell w3-cell-middle w3-text-blue-grey">Total Rows <%=i%></p>
    <!-- <button class="w3-blue-grey w3-hover-red w3-button w3-right no-print" onclick="printDiv('report')"><b><i class="fa fa-trash"></i> Delete All</b></button> -->
  </div>
</div>

<!--Delete Modal-->
<div id="modal-confirm-delete-booking" class="w3-modal">
  <div class="w3-modal-content w3-card-4" style="max-width:399px;opacity:0.95">
   <header id="modal-login-header" class="w3-center"><br>
      <span onclick="document.getElementById('modal-confirm-delete-booking').style.display='none'" class="w3-button w3-hover-red w3-padding w3-display-topright" title="Close">&times;</span>
    
      <p class="w3-xlarge w3-margin w3-center w3-text-blue-grey" style="font-weight:bold">rumah<span class="w3-text-green">2Q</span></p>
      <hr">
    </header>
   
    <form class="" action="">
      <div class="w3-container">
        <p>Anda yakin akan <b>Menolak</b> pemesanan ini?</p>
        <p>ID: <span id="modal-id-delete"></span></p>
        <p>Customer: <span id="modal-data-delete"></span></p>
      </div>
      
      <footer class="w3-row w3-container w3-padding-24 w3-blue-grey">
        <button onclick="document.getElementById('modal-confirm-delete-booking').style.display='none'" type="button" class="w3-btn w3-light-grey w3-right">Cancel</button>
        <button onclick="deleteBooking(mid.innerHTML)" type="button" class="w3-btn w3-red w3-right">Tolak</button>
      </footer>
    </form>
    
  </div>
</div>

<!--Approve Modal-->
<div id="modal-confirm-approve-booking" class="w3-modal">
  <div class="w3-modal-content w3-card-4" style="max-width:399px;opacity:0.95">
   <header id="modal-login-header" class="w3-center"><br>
      <span onclick="document.getElementById('modal-confirm-approve-booking').style.display='none'" class="w3-button w3-hover-red w3-padding w3-display-topright" title="Close">&times;</span>
    
      <p class="w3-xlarge w3-margin w3-center w3-text-blue-grey" style="font-weight:bold">rumah<span class="w3-text-green">2Q</span></p>
      <hr">
    </header>
   
    <form class="" action="">
      <div class="w3-container">
        <p>Anda yakin akan <b>Menerima</b> pemesanan ini?</p>
        <p>ID: <span id="modal-id-approve"></span></p>
        <p>Customer: <span id="modal-data-approve"></span></p>
      </div>
      
      <footer class="w3-row w3-container w3-padding-24 w3-blue-grey">
        <button onclick="document.getElementById('modal-confirm-approve-booking').style.display='none'" type="button" class="w3-btn w3-light-grey w3-right">Cancel</button>
        <button onclick="approveBooking(mia.innerHTML)" type="button" class="w3-btn w3-green w3-right">Terima</button>
      </footer>
    </form>
    
  </div>
</div>

<script>
var id = 0;
var mia = document.getElementById('modal-id-approve');
var mda = document.getElementById('modal-data-approve');
var mid = document.getElementById('modal-id-delete');
var mdd = document.getElementById('modal-data-delete');
  
  function openModal(el) {
    document.getElementById(el).style.display = "block";
    document.body.style.overflow = "hidden";
  }
  function closeModal(el) {
    document.getElementById(el).style.display = "none";
    document.body.style.overflow = "visible";
  }
  function modalDeleteBooking(id,username){
    id = id;
    openModal('modal-confirm-delete-booking');
    mid.innerHTML = id;
    mdd.innerHTML = username;
  }
  function modalApproveBooking(id,username){
    id = id;
    openModal('modal-confirm-approve-booking');
    mia.innerHTML = id;
    mda.innerHTML = username;
  }
  function deleteBooking(id){
    fetch(`/api/booking/${id}`,{
      method:'DELETE'
    }).then((res)=>{
      mdd.innerHTML = res.text();
      location.reload();
    })
  }
  function approveBooking(id){
    fetch(`/api/booking/${id}`,{
      method:'PUT'
    }).then((res)=>{
      mda.innerHTML = res.text();
      location.reload();
    })
  }
</script>

<script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}

	// function printElm(elm)
 //    {
 //      var mywindow = window.open('', 'PRINT', 'height=1000,width=900');


 //        mywindow.document.write('<html><head><title>' + document.title  + '</title>');

 //        mywindow.document.write('</head><body >');
 //      mywindow.document.write('<h1>' + document.title  + '</h1>');
 //        mywindow.document.write(document.getElementById(elm).innerHTML);
 //        mywindow.document.write('</body></html>');

 //        mywindow.document.close(); // necessary for IE >= 10
 //        mywindow.focus(); // necessary for IE >= 10*/

 //        mywindow.print();
 //        mywindow.close();

 //        return true;

 //        }

  document.getElementById('search-filter').addEventListener('keyup',searchFilter);

  function searchFilter() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("search-filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("table-reports");
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    trd = tr[i];
    if (trd) {
      if (trd.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>