<div id="booking" class="w3-container myDivToPrint">
  <p class="w3-padding-left w3-opacity" style="margin-bottom: 0px"><b>Pembayaran Anda</b></p>
  <!-- <img src="/img/rumah2q-logo.png" style="width:20%"> -->

  <div class="w3-row w3-section w3-border">
    
      <div class="w3-col w3-right" style="width:50px">
        <button class="w3-blue-grey w3-button w3-block w3-paddingX"><i class="fa fa-search"></i></button>
      </div>
        <div class="w3-rest">
        <input class="w3-hover-light-grey w3-input w3-border-0" type="text" name="" placeholder="Cari.." id="search-filter">
      </div>  
    
  </div>

	<table class="w3-table w3-card w3-hoverable" id="table-payments">
		<tr class="w3-blue-grey">
			<th>ID</th>
			<th>Judul Properti</th>
			<th>Pemohon</th>
      <th>Agen</th>
      <th>Pesan</th>
			<th>Status</th>
			<th></th>
		</tr>
		<%for(var i=0, len=dataPayments.length; i < len; i++) {%>
		<tr class="w3-text-grey w3-hover-green">
			<td style="vertical-align: middle"><%=dataPayments[i].id%></td>
			<td style="vertical-align: middle"><%=dataPayments[i].listing.title%></td>
      <td style="vertical-align: middle"><%=dataPayments[i].customer.name%></td>
      <td style="vertical-align: middle"><%=dataPayments[i].agent.name%></td>
      <td style="vertical-align: middle"><%=dataPayments[i].message%></td>
			<td style="vertical-align: middle"><%=dataPayments[i].status%></td>
			<td style="vertical-align: middle" class="w3-center">
				<button class="w3-button w3-hover-text-blue-grey w3-hover-white"><i class="fa fa-info"></i> Detail</button>
        
          <button class="w3-button w3-hover-text-blue-grey w3-hover-white pay-button-dp" onclick="modalPayDp(<%-`'${dataPayments[i].id}',${dataPayments[i].listing.price}`%>)" data-id="<%=dataPayments[i].id%>"><i class="fa fa-money"></i> Bayar DP</button>
        
          <button class="w3-button w3-hover-text-blue-grey w3-hover-white pay-button-paid-off" onclick="modalPayPaidOff(<%-`'${dataPayments[i].id}',${dataPayments[i].listing.price}`%>)" 
          data-id="<%=dataPayments[i].id%>"
          data-listing-price="<%=dataPayments[i].listing.price%>"

          ><i class="fa fa-money"></i> Bayar Lunas</button>
        
			</td>
		</tr>
		<%}%>
	<!-- 	<tr  class="w3-hover-none">
			<td colspan="4">
			<button class="w3-blue-grey w3-hover-green w3-button w3-right no-print" onclick="printDiv('report')"><b><i class="fa fa-print"></i> Print</b></button>
			</td>
		</tr> -->

	</table>
	<div class="w3-cell-row w3-container w3-padding w3-section w3-card">
    <p class="w3-cell w3-cell-middle w3-text-blue-grey">Total Rows <%=i%></p>
    <!-- <button class="w3-blue-grey w3-hover-red w3-button w3-right no-print" onclick="printDiv('report')"><b><i class="fa fa-trash"></i> Delete All</b></button> -->
  </div>
</div>

<!-- MODAL PAY DP -->
<div id="modal-pay-dp" class="w3-modal" style="padding:8px 0px">
  <div class="w3-modal-content" style="max-width: 700px;margin:auto">
    <form action="has-paid" method="POST" enctype="multipart/form-data">
  <!-- <div id="user-form" class="w3-padding w3-container w3-padding"> -->
    <div class="w3-card">
      <p class="w3-teal w3-container w3-padding-16" style="border-width:2px!important;margin:0"><b><i class="fa fa-money"></i> Form Pembayaran DP</b><span onclick="closeModal('modal-pay-dp')" 
      class="w3-button w3-display-topright">&times;</span></p>
            
      <div class="w3-container">
          <p>
            <label class="w3-text-grey">No Pembayaran</label>
            <input class="w3-input w3-border" id="no-payment-dp" type="text" name="noPayment" value="" disabled>
          </p>
          <p>
            <label class="w3-text-grey">Nama Pemilik Rekening</label>
            <input class="w3-input w3-border" type="text" name="accountOwner" value="<%=(req.session.user)?req.session.user.name:``%>">
          </p>
          <p>
            <label class="w3-text-grey">Email</label>
            <input class="w3-input w3-border" type="email" name="email" value="<%=(req.session.user)?req.session.user.email:``%>">
          </p>
          <p>
            <label class="w3-text-grey">Phone</label>
            <input class="w3-input w3-border" type="tel" name="phone" value="<%=(req.session.user)?req.session.user.phone:``%>">
          </p>

          <p>
            <div class="w3-col m4">
              <label class="w3-text-grey">% dari harga properti</label>
              <input class="w3-input w3-border" type="text" id="percentage-price" list="percentage" onkeyup="toPercentagePrice()" value="30">
              <datalist id="percentage">
                <option>10</option>
                <option>30</option>
                <option>50</option>
                <option>60</option>
              </datalist>  
            </div>
            <div class="w3-col m8">
              <label class="w3-text-grey">Nominal Bayar DP (Rp.)</label>
              <input class="w3-input w3-border" id="price-dp" type="number" name="amount" value="" autocomplete="off">      
            </div>
        
          </p>
          
          <p>
            <label class="w3-text-grey">Tgl Bayar</label>
            <input class="w3-input w3-border" type="date" name="paidOn" value="<%=%>" autocomplete="off">   
          </p>

          <p>
            <label class="w3-text-grey">Dari Bank</label>
            <select class="w3-select w3-border" name="fromBank">
              <option value="">-Pilih Bank-</option>
              <option value="bca">BCA</option>
              <option value="mandiri">Mandiri</option>
              <option value="bni">BNI</option>
            </select>   
          </p>

          <p>
            <label class="w3-text-grey">Ke Bank</label>
            <select class="w3-select w3-border" name="toBank">
              <option value="">-Pilih Bank-</option>
              <option value="bca">BCA</option>
              <option value="mandiri">Mandiri</option>
              <option value="bni">BNI</option>
            </select>   
          </p>

        <p>
        <span class="w3-padding w3-teal">Bukti Pembayaran &nbsp;&nbsp;<i class="fa fa-file-image-o"></i></span>
        <input type="file" name="proof" <%=%>>
        </p>

      
      <div class="w3-bar w3-section w3-padding-16">
        <button class="w3-button w3-bar-item w3-teal w3-right w3-hover-green" style="width:70%"><i class='fa fa-money'></i> Bayar</button>
        <button class="w3-button w3-bar-item w3-light-grey w3-text-grey w3-right w3-hover-grey" style="width:30%" type="reset">Reset</button>
      </div>
    
    </div>

    </div>
  
  <!-- </div> -->
</form>
  </div>
</div>

<!-- MODAL PAY PAID OFF -->
<div id="modal-pay-paid-off" class="w3-modal" style="padding:8px 0px">
  <div class="w3-modal-content" style="max-width: 700px;margin:auto">
    <form action="has-paid" method="POST" enctype="multipart/form-data">
  <!-- <div id="user-form" class="w3-padding w3-container w3-padding"> -->
    <div class="w3-card">
      <p class="w3-teal w3-container w3-padding-16" style="border-width:2px!important;margin:0"><b><i class="fa fa-money"></i> Form Pembayaran Langsung Lunas</b><span onclick="closeModal('modal-pay-paid-off')" 
      class="w3-button w3-display-topright">&times;</span></p>
            
      <div class="w3-container">
          <p>
            <label class="w3-text-grey">No Pembayaran</label>
            <input class="w3-input w3-border" id="no-payment-paid-off" type="text" name="noPayment" value="" disabled>
          </p>
          <p>
            <label class="w3-text-grey">Nama Pemilik Rekening</label>
            <input class="w3-input w3-border" type="text" name="accountOwner" value="<%=(req.session.user)?req.session.user.name:``%>">
          </p>
          <p>
            <label class="w3-text-grey">Email</label>
            <input class="w3-input w3-border" type="email" name="email" value="<%=(req.session.user)?req.session.user.email:``%>">
          </p>
          <p>
            <label class="w3-text-grey">Phone</label>
            <input class="w3-input w3-border" type="tel" name="phone" value="<%=(req.session.user)?req.session.user.phone:``%>">
          </p>

          <p>
            <label class="w3-text-grey">Nominal Bayar (Rp.)</label>
            <input class="w3-input w3-border" id="price-paid-off" type="number" name="amount" value="" autocomplete="off">
          </p>
          
          <p>
            <label class="w3-text-grey">Tgl Bayar</label>
            <input class="w3-input w3-border" type="date" name="paidOn" value="<%=%>" autocomplete="off">   
          </p>

          <p>
            <label class="w3-text-grey">Dari Bank</label>
            <select class="w3-select w3-border" name="fromBank">
              <option value="">-Pilih Bank-</option>
              <option value="bca">BCA</option>
              <option value="mandiri">Mandiri</option>
              <option value="bni">BNI</option>
            </select>   
          </p>

          <p>
            <label class="w3-text-grey">Ke Bank</label>
            <select class="w3-select w3-border" name="toBank">
              <option value="">-Pilih Bank-</option>
              <option value="bca">BCA</option>
              <option value="mandiri">Mandiri</option>
              <option value="bni">BNI</option>
            </select>   
          </p>

        <p>
        <span class="w3-padding w3-teal">Bukti Pembayaran &nbsp;&nbsp;<i class="fa fa-file-image-o"></i></span>
        <input type="file" name="proof" <%=%>>
        </p>

      
      <div class="w3-bar w3-section w3-padding-16">
        <button class="w3-button w3-bar-item w3-teal w3-right w3-hover-green" style="width:70%"><i class='fa fa-money'></i> Bayar</button>
        <button class="w3-button w3-bar-item w3-light-grey w3-text-grey w3-right w3-hover-grey" style="width:30%" type="reset">Reset</button>
      </div>
    
    </div>

    </div>
  
  <!-- </div> -->
</form>
  </div>
</div>

<script>
var listingPrice;
var percentPrice = document.getElementById('percentage-price').value;
function toPercentagePrice(){
  let percentagePrice = document.getElementById('percentage-price').value * listingPrice / 100
  document.getElementById('price-dp').value = percentagePrice;
}

var dataPayment = {};
//ADD EVENT LISTENER
var btnPayDp = document.getElementsByClassName('pay-button-dp');
for(var i=0,len=btnPayDp.length;i<len;i++){
  btnPayDp[i].addEventListener('click',setDataPayment);
}
var btnPayPaidOff = document.getElementsByClassName('pay-button-paid-off');
for(var i=0,len=btnPayPaidOff.length;i<len;i++){
  btnPayPaidOff[i].addEventListener('click',setDataPayment);
}

function setDataPayment(){
  dataPayment.id = this.dataset.id;
  // alert(`
  //   listing: ${dataPayment.listing} 
  //   customer: ${dataPayment.customer} 
  //   agent: ${dataPayment.agent}`);
}

function openModal(el) {
  document.getElementById(el).style.display = "block";
  document.body.style.overflow = "hidden";
}

function closeModal(el) {
  document.getElementById(el).style.display = "none";
  document.body.style.overflow = "visible";
}

function modalPayDp(id,price){
  listingPrice = price;
  document.getElementById('price-dp').value = price * percentPrice / 100;
  document.getElementById('no-payment-dp').value = id;
  openModal('modal-pay-dp');
}

function modalPayPaidOff(id,price){
  listingPrice = price;
  document.getElementById('no-payment-paid-off').value = id;
  document.getElementById('price-paid-off').value = price;
  openModal('modal-pay-paid-off');
}

document.getElementById('search-filter').addEventListener('keyup',searchFilter);

function searchFilter() {
var input, filter, table, tr, td, i;
input = document.getElementById("search-filter");
filter = input.value.toUpperCase();
table = document.getElementById("table-payments");
tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    trd = tr[i];
    if (trd) {
      if (trd.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
      }
    }
  }
}

</script>