<div id="booking" class="w3-container myDivToPrint">
  <p class="w3-padding-left w3-opacity" style="margin-bottom: 0px"><b>Pembayaran Anda</b></p>
  <!-- <img src="/img/rumah2q-logo.png" style="width:20%"> -->

  <div class="w3-row w3-section w3-border">
    
      <div class="w3-col w3-right" style="width:50px">
        <button class="w3-blue-grey w3-button w3-block w3-paddingX"><i class="fa fa-search"></i></button>
      </div>
        <div class="w3-rest">
        <input class="w3-hover-light-grey w3-input w3-border-0" type="text" name="" placeholder="Cari.." id="search-filter">
      </div>  
    
  </div>

	<table class="w3-table w3-card w3-hoverable" id="table-payments">
		<tr class="w3-blue-grey">
			<th>ID</th>
			<th>Judul Properti</th>
			<th>Pemohon</th>
      <th>Agen</th>
      <th>Pesan</th>
			<th>Status</th>
			<th></th>
		</tr>
		<%for(var i=0, len=dataPayments.length; i < len; i++) {%>
		<tr class="w3-text-grey w3-hover-green">
			<td style="vertical-align: middle"><%=dataPayments[i].id%></td>
			<td style="vertical-align: middle"><%=dataPayments[i].listing.title%></td>
      <td style="vertical-align: middle"><%=dataPayments[i].customer.name%></td>
      <td style="vertical-align: middle"><%=dataPayments[i].agent.name%></td>
      <td style="vertical-align: middle"><%=dataPayments[i].message%></td>
			<td style="vertical-align: middle"><%=dataPayments[i].status%></td>
			<td style="vertical-align: middle" class="w3-center">
				<button class="w3-button w3-hover-text-blue-grey w3-hover-white"><i class="fa fa-info"></i> Detail</button>
        
          <button class="w3-button w3-hover-text-blue-grey w3-hover-white pay-button-dp" onclick="modalPayDp(<%-`'${dataPayments[i].id}',${dataPayments[i].listing.price}`%>)" data-id="<%=dataPayments[i].id%>"><i class="fa fa-money"></i> Bayar DP</button>
        
          <button class="w3-button w3-hover-text-blue-grey w3-hover-white pay-button-paid-off" onclick="modalPayPaidOff(<%-`'${dataPayments[i].id}',${dataPayments[i].listing.price}`%>)" 
          data-id="<%=dataPayments[i].id%>"
          data-listing-price="<%=dataPayments[i].listing.price%>"

          ><i class="fa fa-money"></i> Bayar Lunas</button>
        
			</td>
		</tr>
		<%}%>
	<!-- 	<tr  class="w3-hover-none">
			<td colspan="4">
			<button class="w3-blue-grey w3-hover-green w3-button w3-right no-print" onclick="printDiv('report')"><b><i class="fa fa-print"></i> Print</b></button>
			</td>
		</tr> -->

	</table>
	<div class="w3-cell-row w3-container w3-padding w3-section w3-card">
    <p class="w3-cell w3-cell-middle w3-text-blue-grey">Total Rows <%=i%></p>
    <!-- <button class="w3-blue-grey w3-hover-red w3-button w3-right no-print" onclick="printDiv('report')"><b><i class="fa fa-trash"></i> Delete All</b></button> -->
  </div>
</div>

<%-partial('../partials/modal-pay-repayment.ejs')%>
<%-partial('../partials/modal-pay-dp.ejs')%>

<script>

function setDataPayment(){
  dataPayment.id = this.dataset.id;
  // alert(`
  //   listing: ${dataPayment.listing} 
  //   customer: ${dataPayment.customer} 
  //   agent: ${dataPayment.agent}`);
}

document.getElementById('search-filter').addEventListener('keyup',searchFilter);

function searchFilter() {
var input, filter, table, tr, td, i;
input = document.getElementById("search-filter");
filter = input.value.toUpperCase();
table = document.getElementById("table-payments");
tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    trd = tr[i];
    if (trd) {
      if (trd.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
      }
    }
  }
}

</script>