<%   String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}%>
<!--Main-->
<div id="main" style="padding-top:38px!important">
 
  <div class="w3-section w3-card w3-text-grey" style="max-width:700px;margin:auto;">
  <div class="w3-display-container">
    <img style="width:100%" class="w3-grayscale" src="/img/building-horde.png"  alt="" />
    <div class="w3-display-middle w3-center">
    <img style="width:50%" class="w3-circle w3-card-4" src="/uploads/<%=dataAgent.avatar%>" alt="" />
    <p class="w3-large"><%=dataAgent.name%></p>
    </div>
  </div>
   <table class="w3-table Xw3-bordered Xw3-hoverable">
      <tr>
        <td style="width:150px">ID</td><td><%=dataAgent.id%></td>
      </tr>
      <tr>
        <td>Jenis Pengguna</td><td><b><%=dataAgent.role.capitalize()%></b></td>
      </tr>
      <tr>
        <td>Alamat</td><td></td>
      </tr>
      <tr>
        <td>Kota</td><td></td>
      </tr>
      <tr>
        <td>Provinsi</td><td></td>
      </tr>
      <tr>
        <td>Deskripsi</td>
        <td>
      
        </td>
      </tr>
    </table>
  <div class="w3-blue-grey w3-padding">Hubungi Agen</div>
  <div class="w3-container w3-padding">
    <form action="/api/messages" method="POST">
  <input type="hidden" name="sender" value="<%=(req.session.user)?req.session.user.no:''%>">
  <input type="hidden" name="receiver" value="<%=(req.session.user)?dataAgent.no:''%>">

  <div class="w3-container">
  <p>
  <p><label>Nama Anda:</label><input placeholder="Masukan Nama Anda" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" name="" value="<%=(req.session.user)?req.session.user.name:''%>"></p>
  <p><label>Phone/Mobile Phone:</label><input placeholder="Ex: 0812345678910" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" value="<%=(req.session.user)?req.session.user.phone:''%>"></p>
  <p><label>Email:</label><input placeholder="Ex: youremail@gmail.com" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" value="<%=(req.session.user)?req.session.user.email:''%>"></p>
  </p>
  <p><label>Pesan:</label><textarea placeholder="Ex: saya tertarik dengan properti anda" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" name="message"></textarea></p>
  </p>
  <button class="w3-button w3-green w3-hover-blue w3-right w3-sectionX" style="margin-bottom: 16px"><b><i class="fa fa-send"></i> Kirim</b></button>
  </div>
  </form>
  </div>
</div> <!-- End Main -->

<script>

</script>
