<%   String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}%>
<!--Main-->
<div id="main" style="padding-top:38px!important">
 
  <div class="w3-section w3-card w3-text-grey" style="max-width:700px;margin:auto;">
  <div class="w3-display-container">
    <img style="width:100%" class="w3-grayscale" src="/img/building-horde.png"  alt="" />
    <div class="w3-display-middle w3-center">
    <a href="/agent/detail/<%=dataAgent.id%>">
      <img style="width:50%" class="w3-circle w3-card-4" src="/uploads/<%=dataAgent.avatar%>" alt="" />
    </a>
    <p class="w3-large"><%=dataAgent.name%></p>
    </div>
  </div>
   <table class="w3-table Xw3-bordered Xw3-hoverable">
      <tr>
        <td style="width:150px">ID</td><td><%=dataAgent.id%></td>
      </tr>
      <tr>
        <td>Jenis Pengguna</td><td><b><%=dataAgent.role.capitalize()%></b></td>
      </tr>
      <tr>
        <td>Alamat</td><td></td>
      </tr>
      <tr>
        <td>Kota</td><td></td>
      </tr>
      <tr>
        <td>Provinsi</td><td></td>
      </tr>
      <tr>
        <td>Deskripsi</td>
        <td>
      
        </td>
      </tr>
    </table>
  <div class="w3-blue-grey w3-padding">Hubungi Agen</div>
  <div class="w3-container w3-padding">
  <form id="form-message">
  <input type="hidden" name="sender" value="<%=(req.session.user)?req.session.user.no:''%>">
  <input type="hidden" name="receiver" value="<%=(req.session.user)?dataAgent.no:''%>">

  <div class="w3-container">
  <p>
  <p><label>Nama Anda:</label><input placeholder="Masukan Nama Anda" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" name="" value="<%=(req.session.user)?req.session.user.name:''%>"></p>
  <p><label>Phone/Mobile Phone:</label><input placeholder="Ex: 0812345678910" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" value="<%=(req.session.user)?req.session.user.phone:''%>"></p>
  <p><label>Email:</label><input placeholder="Ex: youremail@gmail.com" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" value="<%=(req.session.user)?req.session.user.email:''%>"></p>
  </p>
  <p><label>Pesan:</label><textarea placeholder="Ex: saya tertarik dengan properti anda" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" name="message"></textarea></p>
  </p>
  <button type="button" id="btn-send" class="w3-button w3-green w3-hover-blue w3-right" style="margin-bottom: 16px"><b><i class="fa fa-send"></i> Kirim</b></button>
  </div>
  </form>
  </div>
</div> <!-- End Main -->

<!--Sent Modal-->
<div id="modal-sent-message" class="w3-modal">
  <div class="w3-modal-content w3-card-4" style="max-width:399px;opacity:0.95">
   <header id="modal-login-header" class="w3-center"><br>
      <span onclick="document.getElementById('modal-sent-message').style.display='none'" class="w3-button w3-hover-red w3-padding w3-display-topright" title="Close">&times;</span>
    
      <p class="w3-xlarge w3-margin w3-center w3-text-blue-grey" style="font-weight:bold">rumah<span class="w3-text-green">2Q</span></p>
      <hr">
    </header>
   
    <form class="" action="">
      <div class="w3-container w3-center">
        <p>Pesan Anda Terkirim!</p>
      </div>
      
      <footer class="w3-row w3-container w3-padding-24 w3-blue-grey">
        <button onclick="document.getElementById('modal-sent-message').style.display='none'" type="button" class="w3-btn w3-green w3-right"><b>OK</b></button>
      </footer>
    </form>
    
  </div>
</div>
<script>
var form = document.querySelector('#form-message');
var modalSent = document.querySelector('#modal-sent-message')
function postMessage(){
fetch('/api/message',{
  method:'POST',
  body: new FormData(form)
});
modalSent.style.display = 'block';
}
var submitBtn = document.querySelector('#btn-send');
submitBtn.addEventListener('click',postMessage)
</script>
