<%var row=1;%>

<%- partial('../partials/navbar-search.ejs')%>

<!--Listing Property-->
<div id="main" class="w3-margin-top" style="max-width:700px;margin:auto;padding-top:38px!important">



  <%for(var i=0,len=dataAgents.length;i<len;i++){%>
  <%if(i%2===0||i===0){%>
  <!--LISTING ROW-->
  <div class="w3-row-padding">
  <%}%>
  
     <!--LISTING CARD-->
    <div class="w3-margin-bottom">
      <div class="w3-padding w3-card w3-white" style="padding: 0">
        <div class="w3-center">
          <a href="/agent/detail/<%=dataAgents[i].id%>">
            <img height="200" class="w3-circle" src="/uploads/<%=dataAgents[i].avatar%>">
          </a>
        </div>
        <div class="w3-container w3-center w3-white w3-text-grey">
         
          <p>
            <i class="fa fa-user"></i>&nbsp;
            <span> 
              <b><%=dataAgents[i].name%></b>
            </span>
          </p>
          <p title=""><i class="fa fa-phone"></i>&nbsp;
            <span>
              <%=dataAgents[i].phone%>
            </span>
          </p>
          <p title=""><i class="fa fa-envelope"></i>&nbsp;
            <span>
              <%=dataAgents[i].email%>
            </span>
          </p>

        </div>
          <div class="w3-bar w3-border w3-margin-bottom w3-text-grey">
            <!-- <a href="javasript:void(0)">
            <button class="w3-bar-item w3-button " style="width:33.3%" title="Favorit"><i class="fa fa-star"></i> Favorit</button>
            </a> -->
            <a href="javasript:void(0)">
            <button class="w3-bar-item w3-button w3-hover-blue" style="width: 50%" title=""><i class="fa fa-user"></i> Agen</button>
            </a>
            <a href="/agent/detail/<%=dataAgents[i].id%>">
            <button class="w3-bar-item w3-button w3-hover-green" style="width: 50%" title="Details"><i class="fa fa-info"></i> Details</button>
            </a>
          </div>
        
      </div>
    
    </div><!-- END LISTING CARD -->
  
  
  <%if(i%2!==0||i===1||i===dataAgents.length-1){%>
  </div>
  <!--END LISTING ROW-->
  <%}%> 
  <%}%>
  </div>
<!--End-->
<%- partial('../partials/footer.ejs')%>
<%- partial('../partials/modal-login.ejs')%>

<script>
  document.getElementById('navbar-form-search').action='/listings';
</script>