<%var row=1;%>

<%- partial('../partials/navbar-search.ejs')%>

<!--Listing Property-->
<div id="main" class="w3-margin-top" style="padding-top:38px!important">



  <%for(var i=0;i<dataProperties.length;i++){%>
  <%if(i%2===0||i===0){%>
  <!--LISTING ROW-->
  <div class="w3-row-padding w3-padding-0">
  <%}%>
  
     <!--LISTING CARD-->
    <div class="w3-col m6 w3-margin-bottom">
      <div class="w3-container w3-card-2 w3-white" style="padding: 0">
        <div class="w3-col m6 w3-cell w3-blueX" style="/*width:50% ;height:300px ;background-image: url(<%=dataProperties[i].pictures[0].path%>);background-position:center;background-size:cover;" >
          <img width="100%" height="300" class="listing-imgX" src="<%=dataProperties[i].pictures[0].path%>" alt="<%=dataProperties[i].title%>">
        </div>
        <div class="w3-container w3-col m6 w3-text-grey w3-white w3-cell w3-cell-bottom">
          <%var title=dataProperties[i].title;%>
          <p title="<%=title%>">
            <b>
              <%=(i+1)+' - '%>
              <%=(title.length>30)?title.substring(0,30)+'...':title%>
            </b>
          </p>
          <p>
            <i class="fa fa-home"></i>&nbsp;
            <span> 
              <%=dataProperties[i].type.capitalize()%>
              <b><%=dataProperties[i].status.capitalize()%></b>
            </span>
          </p>
          <%var address=dataProperties[i].address;%>
          <p title="<%=address%>"><i class="fa fa-map-marker"></i>&nbsp;
            <span>
              <%=(address.length>35)?address.substring(0,35)+'...':address%>
            </span></p>
          <p><i class="fa fa-money"></i>&nbsp;
            <span>
              Rp. <%=dataProperties[i].price%>
            </span>
          </p>
          <div class="w3-row-padding w3-padding-0 w3-margin-bottom">
            <i class="fa fa-bed"></i>&nbsp;
            <span>
              <%=dataProperties[i].bed%>
            </span>
            <i class="fa fa-bath"></i>&nbsp;
            <span>
              <%=dataProperties[i].bath%>
            </span>
          </div>
          <div class="w3-bar w3-border w3-margin-bottom">
            <!-- <a href="javasript:void(0)">
            <button class="w3-bar-item w3-button " style="width:33.3%" title="Favorit"><i class="fa fa-star"></i> Favorit</button>
            </a> -->
            <a href="javasript:void(0)">
            <button class="w3-bar-item w3-button w3-hover-blue" style="width: 50%" title="Agen"><i class="fa fa-user"></i> Agen</button>
            </a>
            <a href="/listing/detail/<%=dataProperties[i].id%>">
            <button class="w3-bar-item w3-button w3-hover-green" style="width: 50%" title="Details"><i class="fa fa-info"></i> Details</button>
            </a>
          </div>
        </div>
      </div>
    
    </div><!-- END LISTING CARD -->
  
  
  <%if(i%2!==0||i===1||i===dataProperties.length-1){%>
  </div>
  <!--END LISTING ROW-->
  <%}%> 
  <%}%>
  </div>
<!--End-->
<%- partial('../partials/footer.ejs')%>
<%- partial('../partials/modal-login.ejs')%>

<script>
  document.getElementById('navbar-form-search').action='/listing';
</script>