<%   String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}%>
<!--Main-->
<div id="main" style="padding-top:38px!important">

<!-- Image Container -->
  <div class="w3-card stripe-2">

<!-- Properties Image -->
    <div class="w3-content w3-animate-opacity" style="padding: 8px 0px 0px 0px!important">
      <div class="w3-gray">
        <img onclick="openModal('modal-image');currentdiv(1)" id="main-pic" class="w3-card-4" src="<%=dataProperties.pictures[0].path%>" alt="<%=dataProperties.pictures[0].path%>" style="cursor: pointer;">
      </div>
      <div class="w3-row">
        <div class="w3-col s4">
          <img onclick="openModal('modal-image');currentdiv(1)" class="w3-opacity w3-hover-opacity-off" style="width:100%;height: auto;cursor: pointer;" src="<%=dataProperties.pictures[0].path%>" alt="">
        </div>
        <div class="w3-col s4">
          <img onclick="openModal('modal-image');currentdiv(2)" class="w3-opacity w3-hover-opacity-off" style="width:100%;height: auto;cursor: pointer;" src="<%=dataProperties.pictures[0].path%>" alt="">
        </div>
        <div class="w3-col s4">
          <img onclick="openModal('modal-image');currentdiv(3)" class="w3-opacity w3-hover-opacity-off" style="width:100%;height: auto;cursor: pointer;" src="<%=dataProperties.pictures[0].path%>" alt="">
        </div>
      </div>
    </div>
</div>

<!-- Description -->
<div class="w3-text-grey w3-padding w3-text-grey w3-content w3-card w3-section">
<!--Tab Header-->
<div class="w3-row w3-center">
  <a href="javascript:void(0)" onclick="openTabs(event, 'info');">
    <div id="default-tab-header" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-hover-text-blue-grey w3-padding"><i class="fa fa-info"></i> Data Properti</div>
  </a>
  <a href="javascript:void(0)" onclick="openTabs(event, 'maps');initMap()">
    <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-hover-text-blue-grey w3-padding"><i class="fa fa-map"></i> Maps</div>
  </a>
  <a href="javascript:void(0)" onclick="openTabs(event, 'agen');initMap()">
    <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-hover-text-blue-grey w3-padding"><i class="fa fa-user-secret"></i> Agen</div>
  </a>
</div>
<!--Tab Content-->
<!--TAB INFO-->
<div id="info" class="tab-detail w3-animate-opacity">
  <table class="w3-table">
    <th colspan="2" class="w3-large"><%=dataProperties.title%></th>
    <tr>
      <td style="width:150px">Harga</td><td><b>Rp. <%=dataProperties.price%></b></td>
    </tr>
    <tr>
      <td>ID Listing</td><td><%=dataProperties.id%></td>
    </tr>
    <tr>
      <td>Jenis Properti</td><td><%=dataProperties.type.capitalize()%> <b><%=dataProperties.status.capitalize()%></b></td>
    </tr>
    <tr>
      <td>Alamat</td><td><%=dataProperties.address%></td>
    </tr>
    <tr>
      <td>Kota</td><td><%=dataProperties.city%></td>
    </tr>
    <tr>
      <td>Provinsi</td><td><%=dataProperties.province%></td>
    </tr>
    <tr>
      <td>Deskripsi</td>
      <td>
        <%=dataProperties.description%>
      </td>
    </tr>
  </table>
  <hr>
  <table class="w3-table">
    <tr>
      <td><b>Spesifikasi</b></td>
    </tr>
    <tr>
      <td style="width:150px">Ruang</td>
      <td><i class="fa fa-bed"></i> Kamar Tidur: <%=dataProperties.bed%></td>
      <td><i class="fa fa-bath"></i> Kamar Mandi : <%=dataProperties.bath%></td>
      <td><i class="fa fa-building"></i> Jumlah Lantai : <%=dataProperties.floor%></td>
    </tr>
    <tr>
      <td>Ukuran</td>
      <td><i class="fa fa-map-signs"></i> Luas Tanah : <%=dataProperties.lotSize%> m<sup>2</sup></td>
      <td><i class="fa fa-home"></i> Luas Bangunan : <%=dataProperties.buildingSize%> m<sup>2</sup></td>
    </tr>
  </table>
  
</div>
<!--TAB MAPS-->
<div id="maps" class="tab-detail w3-animate-opacity">
  <div id="map" class="w3-greyscale" style="width:100%;height:500px"></div>

  <div class="w3-green  w3-padding">Lokasi Sekitar</div>
  <div class="w3-container">
  <p>
  <p><label>Radius(KM):</label><input placeholder="Ex: 5" class="w3-input w3-border w3-hover-light-grey" type="text"></p>
  <p><label>Kategori:</label><input placeholder="Ex: School" class="w3-input w3-border w3-hover-light-grey" type="text"></p>
  </p>
  <button class="w3-button w3-green w3-hover-blue w3-right" style="margin-bottom: 16px"><b><i class="fa fa-search"></i> Telusuri Lokasi</b></button>
  </div>
</div>
<!--TAB AGEN-->
<div id="agen" class="tab-detail w3-animate-opacity">
  <div class="w3-display-container w3-center">
    <img style="width:100%;height: auto" class="w3-grayscale" src="/img/building-horde.png"  alt="" />
    <div class="w3-display-middle">
    <a href="/agent/detail/<%=dataProperties.idUser.id%>">
    <img style="width:170px" class="w3-circle w3-card-4" src="/uploads/<%=dataProperties.idUser.avatar%>" alt="" />
    </a>
    <p class="w3-large" style="margin-bottom: 0px"><%=dataProperties.idUser.name%></p>
    <p class="w3-large" style="margin-bottom: 0px"><i class="fa fa-phone"></i> <%=dataProperties.idUser.phone%></p>
    <div class="w3-section">
      <button onclick="openModal('modal-message')" class="w3-button w3-blue-grey w3-hover-blue"><b><i class="fa fa-envelope"></i> Send</b> Message</button>
    </div>
    </div>
  </div>
  
</div>

</div>

<!-- BUTTON-BOOKING -->
  <div class="w3-section w3-content w3-card w3-padding-16 w3-container">
    <button onclick="openModal('modal-booking')" class="w3-button w3-block w3-hover-blue w3-green w3-padding"><b><i class="fa fa-address-book"></i> Booking</b> <%= dataProperties.type.capitalize() %> ini</button>
  </div>

</div>
<!-- </div> -->

<!-- Modal Agent Message -->
<div id="modal-message" class="w3-modal">
  <div class="w3-modal-content" style="max-width:700px;margin-bottom:100px">
  <header class="w3-container w3-blue-grey">
    <h3><i class="fa fa-envelope"></i> Pesan</h3>
    <span class="w3-button w3-hover-red w3-display-topright" style="cursor:pointer" onclick="closeModal('modal-message')"><i class="fa fa-close"></i></span>
  </header>
  <form id="form-message">
  <input type="hidden" name="sender" value="<%=(req.session.user)?req.session.user.no:''%>">
  <input type="hidden" name="receiver" value="<%=(req.session.user)?dataProperties.idUser.no:''%>">

  <div class="w3-container">
  <p>
  <p><label>Nama Anda:</label><input placeholder="Masukan Nama Anda" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" name="" value="<%=(req.session.user)?req.session.user.name:''%>"></p>
  <p><label>Phone/Mobile Phone:</label><input placeholder="Ex: 0812345678910" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" value="<%=(req.session.user)?req.session.user.phone:''%>"></p>
  <p><label>Email:</label><input placeholder="Ex: youremail@gmail.com" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" value="<%=(req.session.user)?req.session.user.email:''%>"></p>
  </p>
  <p><label>Pesan:</label><textarea placeholder="Ex: saya tertarik dengan properti anda" class="w3-input w3-border w3-hover-light-grey w3-text-grey" type="text" name="message" rows="5" style="resize:vertical;"></textarea></p>
  </p>
  <button id="btn-send-message" class="w3-button w3-blue w3-hover-green w3-block" style="margin-bottom: 16px" type="button"><b><i class="fa fa-send"></i> Kirim</b></button>
  </div>
  </form>
  </div>
</div>

<!-- Modal Booking -->
<div id="modal-booking" class="w3-modal">
  <div class="w3-modal-content" style="max-width:700px;margin-bottom:100px">
    <header class="w3-container w3-blue-grey">
      <h3><i class="fa fa-address-book"></i> Booking</h3>
      <span class="w3-button w3-hover-red w3-display-topright" style="cursor:pointer" onclick="closeModal('modal-booking')"><i class="fa fa-close"></i></span>
    </header>
    <div class="w3-container w3-padding-16 w3-center w3-text-grey" style="width:100%">
      <img class="w3-card-4" style="max-width:600px" src="<%=dataProperties.pictures[0].path%>">
      <p><%=dataProperties.title%></p>
      <hr>
      <img class="w3-circle w3-card" style="width:20%" src="/uploads/<%=dataProperties.idUser.avatar%>">
      <p>Agent: <%=dataProperties.idUser.name%></p>
      <hr>
      
      <button id="btn-send-booking" class="w3-button w3-block w3-blue w3-hover-green">
        <i class="fa fa-address-book"></i> Ajukan Booking
      </button>
    </div>
  </div>
</div>

<!-- Modal Image -->
<div id="modal-image" class="w3-modal w3-black" style="padding-bottom: 100px">
 <span class="w3-text-white w3-xxlarge w3-hover-text-grey w3-container w3-display-topright" onclick="closeModal('modal-image')" style="cursor:pointer">×</span>
 <div class="w3-modal-content">
 <%var totalImages=3%>
  <div class="w3-content" style="max-width:1200px">
   <img class="mySlides" src="<%=dataProperties.pictures[0].path%>" style="width:100%">
   <img class="mySlides" src="<%=dataProperties.pictures[0].path%>" style="width:100%">
   <img class="mySlides" src="<%=dataProperties.pictures[0].path%>" style="width:100%">
   <div class="w3-row w3-black w3-center">
    <div class="w3-display-container">
     <p id="caption"></p>
     <span class="w3-display-left w3-btn" onclick="plusDivs(-1)">❮</span>
     <span class="w3-display-right w3-btn" onclick="plusDivs(1)">❯</span>
    </div>
    <div class="w3-col s4">
     <img class="demo w3-opacity w3-hover-opacity-off" src="<%=dataProperties.pictures[0].path%>" style="width:100%" onclick="currentDiv(1)" alt="1 / <%=totalImages%>">
    </div>
    <div class="w3-col s4">
     <img class="demo w3-opacity w3-hover-opacity-off" src="<%=dataProperties.pictures[0].path%>" style="width:100%" onclick="currentDiv(2)" alt="2 / <%=totalImages%>">
    </div>
    <div class="w3-col s4">
     <img class="demo w3-opacity w3-hover-opacity-off" src="<%=dataProperties.pictures[0].path%>" style="width:100%" onclick="currentDiv(3)" alt="3 / <%=totalImages%>">
    </div>
   </div> <!-- End row -->
  </div> <!-- End w3-content -->
  
 </div> <!-- End modal content -->
</div> <!-- End modal -->
<script>
var form = document.querySelector('#form-message');
var modalSent = document.querySelector('#modal-sent-message');
var btnSendMessage = document.querySelector('#btn-send-message');
var btnSendBooking = document.querySelector('#btn-send-booking');
btnSendBooking.addEventListener('click',postBooking);
btnSendMessage.addEventListener('click',postMessage)

function postBooking(){
  btnSendBooking.innerHTML='<i class="fa fa-check"></i> Booked!';
  setTimeout(()=>{
  closeModal('modal-booking');  
  },3000);
}
function postMessage(){
fetch('/api/message',{
  method:'POST',
  body: new FormData(form)
});
  btnSendMessage.innerHTML='<i class="fa fa-check"></i> Pesan Terkirim!';
  setTimeout(()=>{
  closeModal('modal-message');
  },3000);
}
</script>
<script>
//Image Modal---------------------------------------------------
function openModal(el) {
  document.getElementById(el).style.display = "block";
  document.body.style.overflow = "hidden";
}

function closeModal(el) {
  document.getElementById(el).style.display = "none";
  document.body.style.overflow = "visible";
}

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");

  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
//Tab-------------------------------------------------------------------
defaultTab();
function defaultTab(){
var defaultTabHeader = document.getElementById('default-tab-header');
var defaultTabContent = document.getElementById('info');
defaultTabContent.style.display='block'
defaultTabHeader.className += ' w3-border-green';
}
function openTabs(evt,tabName){
  console.log(evt);
  var i, tabs, tablinks;
  tabs = document.getElementsByClassName('tab-detail');
  for (i=0;i<tabs.length;i++) {
    tabs[i].style.display='none';
  }
  tablinks = document.getElementsByClassName('tablink');
  for (i=0;i<tabs.length;i++) {
    tablinks[i].className = tablinks[i].className.replace(' w3-border-green','');
  }
  document.getElementById(tabName).style.display='block';
  evt.currentTarget.firstElementChild.className += ' w3-border-green';
  console.log(evt.currentTarget.firstElementChild);
  }
//Google Maps---------------------------------------------------------------------
var map;
function initMap(){
var coord = {lat:<%=dataProperties.lat%>,lng:<%=dataProperties.lng%>};
var map = new google.maps.Map(document.getElementById('map'),{
center: coord,
zoom:15
});
var marker = new google.maps.Marker({
  position: coord,
  map: map,
  animation: google.maps.Animation.BOUNCE,
  title:'Lokasi Properti'

});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmS8vuCaGKypdZbXPWWrUo09cIjuTkgk&callback="></script>
